{% extends "base.html" %}

{% block extrahead %}
<meta name="theme-color" content="#212121">

<link rel='icon' href="{{ base_url }}/{{ site_favicon }}">

<meta name='apple-mobile-web-app-capable' content='yes'>
<meta name='mobile-web-app-capable' content='yes'>
<link rel="manifest" href="/manifest.json">


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91770408-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-91770408-9');
</script>


{% endblock %}
